@charset "UTF-08";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
}
body, html{
    height: 100%;
    width: 100%;
    background-color: #f0ebf8;
    margin:auto;
}

header{
    width: 100%;
    background-color: rgb(93, 6, 255);
    height: 250px;
}
.title-princ{
    color: white;
    padding: 12px;
}

main {
    background-color: #fdfdfd;
    max-height:2000px;
    max-width: 1100px;
    margin: auto;
    margin-top: -100px;   
}
.title-form{
    padding-top: 5px;
    margin: auto;
    text-align: center;
    font-weight: 100;
    font-size:30px;
    color: #333;
}
hr{
    margin:10px 0px 10px 0px;
    color: red;
    background-color: red;
}
.text-princ{
    color: #333;
    padding: 10px;
    text-indent: 10px;
}
.descriphtion-text{
    font-size: 18px;
    font-weight: 100;
    padding-left: 10px;
    text-indent: 10px;
}
label{
    padding-top: 10px;
    color:#333;
    padding: 6px 0px;
}

input{
    border: none;
    border: 1px solid #ccc;
    padding: 10px 0px;
    width: 400px;
}
.block{
    display: block;
    padding-bottom: 15px;
}
input[type="reset"],
input[type="submit"]{
    width: 70px;
    border: 2px solid transparent;
    background-color: turquoise;
    width: 150px;
    
}
input[type="radio"]{
   width: auto;
}
.form-box{
    padding-left:15px;
}
ul{
    list-style: none;
}
.optional{
    width:auto;
}
.optional-box{
    margin-left: 15px;
    display: inline-block;
    list-style: none;   
}
.btn-submit{
    text-align: center;
    margin-top: 80px;
}

