@charset "UTF-8";
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
}
/*sdsdsads*/
/*cabeçalho do site*/
header{
    display: flex;
    width:100%;
    height:100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color:white;
}
#img-header{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    height: 70px;
    padding: 5px;
    margin-left: 7px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style:none;
}

li {
    padding: 13px 10px;
    border-radius:10px;
    
}
a{
    color: inherit;
    text-decoration: none;
}
.btn-header{
    font-size: 14px;
}
.btn-entrar{
    background-color: rgb(41, 218, 41);
}
/*Logo HDC amostra*/
#HDC-home{
    background-image: url(..//img/mainbanner.png);
    background-size:cover;
    height: 1000px;
}
#HDC-title{
    text-align: center;
    position: relative;
    top:50%;
    left:50% ;
    transform: translate(-50%,-50%);
    font-size: 22px;
}
#HDC-title > .title,.text-title {
    color: white;
    text-shadow: 3px 3px 3px #333;
}
/*part of informations benefits*/
#HDC-information{
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: auto;
    padding: 50px;
}
.information{
    text-align: center;
}
.information p {
    width: 350px;
    padding-top: 10px;
    font-family: cursive;
    font-size: larger;
}
/*icons information*/
.fas  {
   font-size: 90px;
   padding-bottom: 0.1em;
}
.fa-shield-halved{
    color: rgb(142, 253, 91);
    
}
.fa-rocket{
    color: red;
}
.fa-comments{
    color: orange;
}
